html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #f0eee8;
}

h2 {
  display: block;
  font-family: Dosis, sans-serif;
  color: #512200;
  font-weight: bolder;
  margin-left: .3em;
  font-size: 1.5rem;
}

p {
  display: inline-block;
  font-family: Georgia;
  color: #785439;
  margin-left: .3em;
  margin-right: .3em;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

ul {
  display: inline-block;
  list-style-type: none;
  text-align: left;
  padding-left: .3em;
  font-family: Georgia;
  color: #785439;
  font-size: .875rem;
  font-weight: bold;
}

nav {
  display: inline-block;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #f0eee8;
  padding: .5em;
  border: 3px;
  border-radius: 8px;
  background-color: #785439;
}
