html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #f0eee8;
}

h2 {
  display: block;
  font-family: Dosis, sans-serif;
  color: #512200;
  font-weight: bolder;
  margin-left: .2em;
  font-size: 1.5rem;
}

p {
  display: inline-block;
  font-family: Georgia;
  color: #785439;
  margin-left: .2em;
  margin-right: .2em;
  font-size: 1rem;
  line-height: 1.5;
}
