html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #dcd4cd;
  border-width: 3px;
  border-radius: 8px;
}

p {
  display: block;
  font-family: Georgia;
  color: #785439;
  margin-left: .2em;
}
